@using Microsoft.AspNetCore.Components
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject ICategoriesService service
@inject IJSRuntime jsRuntime

<AuthorizeView Roles="Admin" Context="authContext">
    @if (categoriesList == null)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else
    {
        @foreach (var category in categoriesList)
        {
            <div class="linkboxes">
                <div class="col-md-4 col-xs-6">
                    <div class="boxes btn">
                        <a href="/NotificationList/@category.CategoryId" class="text-uppercase">@category.CategoryName</a>
                        <button @onclick="(() => SelectCategory(category))" data-toggle="modal" data-target="#editCategoryModal" class="btn btn-link edit-icon">
                            <i class="fas fa-pen" title="Modifier"></i>
                        </button>
                    </div>
                </div>
            </div>
        }

        <div class="linkboxes">
            <div class="col-md-4 col-xs-6">
                <button data-toggle="modal" data-target="#addCategoryModal" class="add-category-link boxes btn text-uppercase">
                    <span class="oi oi-plus"></span> Bæta við flokk
                </button>
            </div>
        </div>
    }

    <!-- Edit Category popup -->
    <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Breyta flokk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm Model="@selectedCategory" OnValidSubmit="@EditCategory">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="categoryName">Nafn flokks</label>
                            <InputText class="form-control" @bind-Value="@selectedCategory.CategoryName" />
                            <ValidationMessage For="@(() => selectedCategory.CategoryName)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn approve-btn" aria-label="Close">Uppfæra</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-labelledby="Delete" data-toggle="modal" data-target="#deleteCategoryModal">Eyða</button>
                        <button type="button" class="btn cancel-btn" data-dismiss="modal" aria-labelledby="Close">Hætta við</button>
                    </div>
                    <DataAnnotationsValidator />
                </EditForm>
            </div>
        </div>
    </div>

    <!-- Add Category popup -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Bæta við nýjum flokk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm Model="@newCategory" OnValidSubmit="@AddCategory">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="categoryName">Nafn flokks</label>
                            <InputText class="form-control" @bind-Value="@newCategory.CategoryName" />
                            <ValidationMessage For="@(() => newCategory.CategoryName)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- SKOÐA ÞETTA -->
                        <button type="submit" class="btn approve-btn" aria-label="Close">Bæta við</button>
                        <!-- SKOÐA ÞETTA -->
                        <button type="button" class="btn cancel-btn" data-dismiss="modal" aria-label="Close">Hætta við</button>
                    </div>
                    <DataAnnotationsValidator />
                </EditForm>
            </div>
        </div>
    </div>

    <!-- Delete Category popup -->
    <ConfirmationModalComponent OnClick="DeleteCategory">
        <CustomHeader>Eyða flokk</CustomHeader>
        <CustomBody>Ertu viss um að þú viljir eyða flokknum @(selectedCategory.CategoryName)?</CustomBody>
        <CustomButtonText>Eyða</CustomButtonText>
    </ConfirmationModalComponent>
    @*<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eyða flokk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ertu viss um að þú viljir eyða flokknum @selectedCategory.CategoryName? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" @onclick="DeleteCategory">Eyða</button>
                    <button type="button" class="btn cancel-btn" data-dismiss="modal" aria-label="Close">Hætta við</button>
                </div>
            </div>
        </div>
    </div>*@

</AuthorizeView>




@code {
    List<Categories> categoriesList;
    Categories selectedCategory = new Categories();
    Categories newCategory = new Categories();
    Categories editCategory = new Categories();


    protected override async Task OnInitializedAsync()
    {
        //Fetch the list of categories from the database
        categoriesList = await service.Get();
    }

    private void SelectCategory(Categories category)
    {
        selectedCategory = category;
    }

    protected async void EditCategory()
    {
        await service.Update(selectedCategory);
        categoriesList.First(c => c.CategoryId == selectedCategory.CategoryId).CategoryName = selectedCategory.CategoryName;
        await CloseModal("editCategoryModal");
    }

    protected async void DeleteCategory()
    {
        await service.Delete(selectedCategory.CategoryId);
        //An instance of the deleted category is passed to a chosen function in the Parent Component of this component
        categoriesList.Remove(selectedCategory);
        StateHasChanged();
    }

    protected async void AddCategory()
    {
        await service.Add(newCategory);
        categoriesList.Add(newCategory);
        newCategory = new Categories();
        StateHasChanged();
    }

    private async Task CloseEditModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "editCategoryModal");
    }

    private async Task CloseModal(string modalId)
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", modalId);
    }
}
