@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Models.ViewModels
@using BlazorSkraApp1.Shared.Components

@if (Form == null)
{
    <h3>Create form</h3>
}
else
{
    <div class="card">
        <div class="card-header">
            <h3 class="d-flex justify-content-center">@Form.FormName</h3>
        </div>
        <div class="card-body">
            <p>Flokkur: @Form.CategoryName</p>
            <p>Tölvupóstsfang: @Form.DestinationEmail</p>
        </div>
    </div>
}

@if (questionsList == null)
{
    <h3>Create questions</h3>
}
else
{
    <div class="question-wrapper">
        @foreach (var question in questionsList)
        {
            <div class="card">
                <div class="card-header">
                    <div id="title-edit">
                        <h5 id="question-title" class="card-title">@question.QuestionName</h5>
                    </div>
                </div>
                <div class="card-body">
                    @if (@question.QuestionTypeId == 1)
                    {
                        <textarea placeholder="Skrifið hér..." rows="1" class="form-control textbox" />
                    }
                    else if (@question.QuestionTypeId == 3)
                    {
                        <textarea placeholder="Skrifið hér..." rows="5" class="form-control textbox" />
                    }
                    else if (@question.QuestionTypeId == 4)
                    {
                        <fieldset id="radio-group">
                            @foreach (var option in question.Options)
                            {
                                <input type="radio" name="radio-group" value="@option.OptionName">
                                <label for="@option.OptionName"> @option.OptionName</label><br>
                            }
                        </fieldset>
                    }
                    else if (@question.QuestionTypeId == 5)
                    {
                        @foreach (var option in question.Options)
                        {
                            <input type="checkbox" name="@option.OptionName" value="@option.OptionName" />
                            <label for="@option.OptionName">@option.OptionName</label>
                        }
                    }
                    else if (@question.QuestionTypeId == 6)
                    {
                        <DatePicker DateSelected="OnDateSelected"> </DatePicker>
                    }
                    else
                    {
                        <h5>Question type not handled...</h5>
                    }
                </div>
            </div>
        }
        <button class="submit" disabled>Senda inn tilkynningu</button>
    </div>
}
<hr>
<br>

@code {
    //[Parameter]
    //public IEnumerable<QuestionsFormAssignments> questionsList { get; set; }
    [Parameter]
    public List<QuestionsViewModel> questionsList { get; set; }
    [Parameter]
    public FormsViewModel Form { get; set; }

    public DateTime SelectedDate { get; set; }

    public void OnDateSelected(DateTime dt)
    {
        SelectedDate = dt;
    }
}
