@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Models.ViewModels

@if (Form == null)
{
    <h3>Eyðublað hefur ekki verið stofnað</h3>
}
else
{
    <div class="container card sub-container">
        <div class="card-header">
            <h3 class="d-flex justify-content-center">@Form.FormName</h3>
            <p>Flokkur: @Form.CategoryName</p>
            <p>Viðtökunetfang: @Form.DestinationEmail</p>
        </div>
        <div class="card-body">
            @foreach (var question in Form.Questions)
            {
                <div class="card">
                        <div class="card-body form-check">
                            <h5 id="question-title" class="card-title form-check-view">@(question.QuestionOrderNum+1). @question.QuestionName</h5>
                        <div class="form-check-view">
                        @if (@question.QuestionType == "ShortText")
                        {
                            <textarea placeholder="Skrifið hér..." rows="1" class="form-control textbox" />
                        }
                        else if (@question.QuestionType == "LongText")
                        {
                            <textarea placeholder="Skrifið hér..." rows="5" class="form-control textbox" />
                        }
                        else if (@question.QuestionType == "Radio")
                        {
                            <fieldset id="radio-group">
                                @foreach (var option in question.Options)
                                {
                                    <input type="radio" name="radio-group" value="@option.OptionName">
                                    <label for="@option.OptionName"> @option.OptionName</label><br>
                                }
                            </fieldset>
                        }
                        else if (@question.QuestionType == "Checkbox")
                        {
                            @foreach (var option in question.Options)
                            {
                                <input type="checkbox" name="@option.OptionName" value="@option.OptionName" />
                                <label for="@option.OptionName">@option.OptionName</label><br>
                            }
                        }
                        else if (@question.QuestionType == "Date")
                        {
                            <label for="date-name"></label>
                            <input class="form-control date-picker date-type"
                                type="date" name="date-name" min="1900-01-01" max="3000-01-01" />
                        }
                        else
                        {
                            <h5>Question type not handled...</h5>
                        }
                        </div>
                    </div>
                </div>
            }
            <button class="submit" disabled>Senda inn</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public FormsViewModel Form { get; set; }

    public DateTime SelectedDate { get; set; }
}
