@page "/"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject ICategoriesService service
@inject IJSRuntime jsRuntime

@if (categoriesList == null)
{
    <p><em>Loading...</em></p>
}
else
{

  @foreach (var category in categoriesList)
  {
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@category.CategoryName</h5>
        <a href="#" class="btn btn-primary">Tilkynna mál</a>
      </div>
    </div>
  }

  <AuthorizeView>
  <Authorized>
    <div class="col-sm-6">
      <div id="add-category-card" class="card">
          <h5 id="add-category-title" class="card-title">Bæta við flokk</h5>
          <button class="btn" @onclick="ShowCategoryPopup"><img class="plus-icon" src="https://image.flaticon.com/icons/png/512/3/3910.png"/></button>
        </div>
    </div>
  </Authorized>
  </AuthorizeView>
  <br/>

  @if(showPopup)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Bæta við nýjum flokk</h4>
                            <button type="button" class="close" @onclick="Cancel">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <EditForm Model="@category" OnValidSubmit="@AddCategory">
                              <div class="form-group">
                                <label for="categoryName">Category Name</label>
                                <input type="hidden" @bind-value="@category.CategoryName" />
                                <InputText id="name" class="form-control" @bind-Value="@category.CategoryName" />
                                <ValidationMessage For="@(() => category.CategoryName)" />
                              </div>
                                <button type="submit" class="btn btn-primary">Bæta við</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hætta við</button>
                                <DataAnnotationsValidator />
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
    }
  }
@code{

    List<Categories> categoriesList;
    Categories category = new Categories();
    protected override async Task OnInitializedAsync()
    {
        categoriesList = await service.Get();
    }
    bool showPopup = false;
    void ShowCategoryPopup()
    {
        showPopup = true;
    }
    void Cancel()
    {
        showPopup = false;
    }

    protected void AddCategory() 
    {
      service.Add(category);
      showPopup = false;
    }


    
}