@page "/CN"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject IOptionsQuestionAssignmnentsService oqaservice
@inject IQuestionsFormAssignmentService qfaservice
@inject IQuestionsService qservice
@inject IOptionsService opservice
@inject ICategoriesService catservice
@inject IFormsInfoService fiservice
@inject IQuestionTypesService qtservice
@inject ICategoriesAssignmentsService qasservice
@inject IJSRuntime jsRuntime

    <form id="creation-form">
        <EditForm Model="@currentCategory" OnValidSubmit="AddFirst">
        <h1>Ný tegund tilkynningar</h1>
        <div class="form-group row">
            <label for="categories" class="col-sm-2 col-form-label">Flokkur</label>
            <div class="col-sm-10">
                <InputSelect @bind-Value="_SelectedCategoryId" id="categories" class="form-control">
                    <option value="">Veldu flokk</option>
                    @if(categoriesList == null)
                    {
                        <option>loading...</option>
                    }
                    else
                    {
                        foreach (var category in categoriesList)
                        {
                            <option value="@System.Convert.ToString(category.CategoryId)" >@category.CategoryName</option>
                        }
                    }
                </InputSelect>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10">
                        <div class="form-group">
                        <label for="FormName">Nafn Tilkynningar</label>
                        <input type="hidden" @bind-value="@currentForm.FormName" />
                        <InputText id="name" class="form-control" @bind-Value="@currentForm.FormName" />
                    </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="QuestionName">Nafn spurningar</label>
                        <input type="hidden" @bind-value="@currentQuestion.QuestionName" />
                        <InputText id="name" class="form-control" @bind-Value="@currentQuestion.QuestionName" />
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="SelectedQuestion" class="col-sm-2 col-form-label">Tegund</label>
                        <InputSelect @bind-Value="_SelectedQuestionTypeId" id="categories" class="form-control">
                            <option value="">Veldu tegund</option>
                            @if(questionTypesList == null){
                                <option>loading...</option>
                            }
                            else{
                            foreach (var type in questionTypesList)
                            {
                                <option value="@System.Convert.ToString(type.QuestionTypeId)" >@type.QuestionTypeName</option>
                            }
                            }
                        </InputSelect>
                    </div>
                </div>
                @if(_SelectedQuestionTypeId == "2" || _SelectedQuestionTypeId == "5")
                {
                    <div class="form-group row form-inline" id="question-box">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="OptionName">Valkostur 1</label>
                                <input type="hidden" @bind-value="@currentOption1.OptionName" />
                                <InputText id="name" class="form-control" @bind-Value="@currentOption1.OptionName" />
                            </div>
                        </div>
                        <a @onclick="DeleteQuestion">
                            <i class="fas fa-trash-alt question-icons"></i>
                        </a>
                    </div>
                    <div class="form-group row form-inline" id="question-box">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="OptionName">Valkostur 2</label>
                                <input type="hidden" @bind-value="@currentOption2.OptionName" />
                                <InputText id="name" class="form-control" @bind-Value="@currentOption2.OptionName" />
                            </div>
                        </div>
                        <a @onclick="DeleteQuestion">
                            <i class="fas fa-trash-alt question-icons"></i>
                        </a>
                    </div>
                }
        </div>
        <p>Til þess að vista nýju tilkynningartýpuna og fyrstu spurningu</p>
        <button class="btn btn-secondary" type="submit" >Vista</button>
        </EditForm>
    </form>

@code {
    //Listar sem eru fyrir options í select
    List<Categories> categoriesList;
    List<QuestionTypes> questionTypesList;
    
    //Breytur sem eru notaðar vegna þess að inputselect styður ekki Int32
    string _SelectedCategoryId;
    string _SelectedQuestionTypeId;
    //Breytur sem þarf að senda inn í gagnagrunn
    FormsInfo currentForm = new FormsInfo();
    Categories currentCategory = new Categories();
    Questions currentQuestion = new Questions();
    Options currentOption1 = new Options();
    Options currentOption2 = new Options();

    protected override async Task OnInitializedAsync()
    {
        categoriesList = await catservice.Get();
        questionTypesList = await qtservice.Get();
    }

    private int questionCount = 0;
    private void CreateNewQuestion()
    {
        questionCount++;
    }

    private void DeleteQuestion()
    {
        questionCount--;
    }
    
    private async void AddFirst()
    {
        //Nýju formi bætt við
        currentForm = await fiservice.Add(currentForm);

        //Búið til eintak af CategoriesAssignments og Category ig Form tengt saman.
        CategoriesAssignments _CategoriesAssignments = new CategoriesAssignments();
        _CategoriesAssignments.CategoryId = Int32.Parse(_SelectedCategoryId);
        _CategoriesAssignments.FormId = currentForm.FormId;
        await qasservice.Add(_CategoriesAssignments);

        //Það QuestionType sem var valið sótt og bætt við í currentQuestion. Henni síðan bætt við sem spurningu
        QuestionTypes _QuestionTypes = new QuestionTypes();
        _QuestionTypes = await qtservice.Get(Int32.Parse(_SelectedQuestionTypeId));
        currentQuestion.QuestionTypes = _QuestionTypes;
        currentQuestion = await qservice.Add(currentQuestion);

        //Búið til eintak af QuestionsFormAssignments. CurrentQuestion tengd við form og sagt til um númer hvað spurningin er
        QuestionsFormAssignments qfa = new QuestionsFormAssignments();
        qfa.FormId = currentForm.FormId;
        qfa.QuestionId = currentQuestion.QuestionId;
        qfa.QuestionOrderNum = 1;
        await qfaservice.Add(qfa);

        //Ef spurningin er með RadioButton eða Checkbox
        if(currentQuestion.QuestionTypes.QuestionTypeId == 2 || currentQuestion.QuestionTypes.QuestionTypeId == 5)
        {
        //Fyrsta option bætt við í option töfluna og síðan búið til eintak af OptionsQuestionAssignments og option-inn tengdur við spurningu  
        currentOption1 = await opservice.Add(currentOption1);

        OptionsQuestionAssignmnents FirstOQA = new OptionsQuestionAssignmnents();
        FirstOQA.OptionId = currentOption1.OptionId;
        FirstOQA.FormId = currentForm.FormId;
        FirstOQA.OptionOrderNum = 1;
        FirstOQA.QuestionOrderNum = 1;
        FirstOQA = await oqaservice.Add(FirstOQA);
        
        //Sama og fyrir ofan, nema fyrir option númer 2
        currentOption2 = await opservice.Add(currentOption2);

        OptionsQuestionAssignmnents SecondOQA = new OptionsQuestionAssignmnents();
        SecondOQA.OptionId = currentOption2.OptionId;
        SecondOQA.FormId = currentForm.FormId;
        SecondOQA.OptionOrderNum = 2;
        SecondOQA.QuestionOrderNum = 1;
        SecondOQA = await oqaservice.Add(SecondOQA);
        }
        //Ef þetta er spurning með textainput
        else
        {
        }
    }
}