@page "/Notification/{id}"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@using BlazorSkraApp1.Models.InputModels
@using System
@using BlazorSkraApp1.Shared.Components
@using BlazorSkraApp1.Components
@using Microsoft.AspNetCore.Identity;
@inject IQuestionsFormAssignmentService questionservice
@inject IOptionsQuestionAssignmnentsService optionservice
@inject IOptionsService oservice
@inject ISubmissionsInfoService subinfoservice
@inject ISubmissionsService subservice
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime jsRuntime
@inject IMailService mailservice
@inject IAdminService adminService

@if (questionsList == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container @faded sub-container">
        <EditForm Model="@submissionInput" OnValidSubmit="@SubmitForm" OnInvalidSubmit="@Invalid">
            <ObjectGraphDataAnnotationsValidator />
            @foreach (var question in questionsList)
            {
                <div class="container">
                    <div class="card">
                        <div class="card-body form-check">
                            <h5 class="card-title">@question.Questions.QuestionName</h5>
                            @if (@question.Questions.QuestionTypes.QuestionTypeId == 4)
                            {
                                <fieldset id="radio-group">
                                    @foreach (var option in optionsList.Where(option => option.QuestionOrderNum == question.QuestionOrderNum))
                                    {
                                        <label>
                                            <InputRadioComponent name="radio-group" SelectedValue="@option.Options.OptionName" @bind-Value="@submissionInput.Radio[question.QuestionTypeOrderNum].Value" />
                                            @option.Options.OptionName
                                        </label><br>
                                        
                                    }
                                    <ValidationMessage For="@(() => submissionInput.Radio[question.QuestionTypeOrderNum].Value)" />
                                </fieldset>
                            }
                            else if (@question.Questions.QuestionTypes.QuestionTypeId == 1)
                            {
                                <InputTextArea rows="1" class="form-control textbox" placeholder="Skrifið hér..." @bind-Value="@submissionInput.ShortText[question.QuestionTypeOrderNum].Value" />
                                <ValidationMessage For="@(() => submissionInput.ShortText[question.QuestionTypeOrderNum].Value)" />
                            }
                            else if (@question.Questions.QuestionTypes.QuestionTypeId == 3)
                            {
                                <InputTextArea rows="5" class="form-control textbox" placeholder="Skrifið hér..." @bind-Value="@submissionInput.LongText[question.QuestionTypeOrderNum].Value" />
                                <ValidationMessage For="@(() => submissionInput.LongText[question.QuestionTypeOrderNum].Value)" />
                            }
                            else if (@question.Questions.QuestionTypes.QuestionTypeId == 5)
                            {
                                @foreach (var option in optionsList.Where(option => option.QuestionOrderNum == question.QuestionOrderNum))
                                {
                                    <input class="form-check-input" type="checkbox" name="@option.Options.OptionName" value="@option.Options.OptionName"
                                           @onchange="@((eventArgs) => SaveCheckboxValue((bool)eventArgs.Value, question.QuestionOrderNum, option.OptionOrderNum, question.QuestionTypeOrderNum))" />
                                    <label for="@option.Options.OptionName"> @option.Options.OptionName</label><br>
                                }
                                System.Console.WriteLine("Hversu oft fer ég hingað????");
                                <ValidationMessage For="@(() => submissionInput.Checkbox[question.QuestionTypeOrderNum].Value)" />
                            }
                            else if (@question.Questions.QuestionTypes.QuestionTypeId == 6)
                            {
                                <DatePicker DateSelected="SaveDate"></DatePicker>
                                SaveDateDown(question.QuestionTypeOrderNum);
                            }

                            else
                            {
                                <h5>Something went wrong...</h5>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="container">
                <div class="card sub-margin">
                    <div class="card-body form-check">
                        <input class="form-check-input @faded radio-check-Submit" type="checkbox" name="anonymous" bind="@anonymous" @onchange="@((eventArgs) => updateAnon((bool)eventArgs.Value))" />
                        <label for="anonymous" class="radio-check-Submit"> Vinsamlegast hakaðu við ef þú vilt senda tilkynninguna nafnlaust</label><br>
                    </div>
                </div>
                <button type="submit" class="@faded submit-form btn approve-btn">Senda inn tilkynningu</button>
            </div>
        </EditForm>
    </div>
    <br>
    <br>
    <br>
}

@if (confirmation)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Staðfesting</h5>
                </div>
                <div class="modal-body">
                    <p>Tilkynningin er skráð og verður komið til skila.</p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" href="/">Aftur á upphafssíðu</a>
                </div>
            </div>
        </div>
    </div>
}

@if (_subFail)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="modal-content-exception">
                <div class="modal-header">
                    <h5 class="modal-title" id="ExceptionModal"> Eitthvað fór úrskeiðis</h5>
                </div>
                <div class="modal-body">
                    <p>Tilkynningin komst ekki til skila, vinsamlegast reyndur aftur.</p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" href="/">Aftur á upphafssíðu</a>
                </div>
            </div>
        </div>
    </div>
}

@code{
    [Parameter]
    public string id { get; set; }

    //To access info about current user
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    IdentityUser currentUser;

    //References whether a submission is anonymous or not
    public bool anonymous { get; set; }

    //Listar til þess að birta tilkynningu
    List<QuestionsFormAssignments> questionsList;
    List<OptionsQuestionAssignmnents> optionsList;

    //Breytur til þess að skrifa í gagnagrunninn
    SubmissionsInfo submissionsInfo = new SubmissionsInfo();
    Submissions submission = new Submissions();

    //Til þess að fylla inn í SubmissionInputModel
    SubmissionInputModel submissionInput = new SubmissionInputModel();
    public DateTime SelectedDate;

    //Confirmation popup
    bool confirmation = false;
    //Class til þess að lækka opacity þegar það er skilað
    string faded = "";

    bool _subFail = false;

    protected override async Task OnInitializedAsync()
    {
        //Get current user
        var userName = (await authenticationStateTask).User.Identity.Name;
        currentUser = await adminService.Get(userName);

        submissionInput.FormId = Int16.Parse(id);
        questionsList = await questionservice.Get(submissionInput.FormId);
        optionsList = await optionservice.Get(submissionInput.FormId);
        submissionInput.ShortText = new RequiredShortText[2];
        submissionInput.LongText = new RequiredLongText[2];
        submissionInput.Radio = new RequiredRadio[1];
        submissionInput.Checkbox = new RequiredCheckbox[2];
        submissionInput.Date = new RequiredDate[1];
        submissionInput.MultipleAnswers = new List<string>();

        for(int i = 0; i < submissionInput.ShortText.Length; i++)
        {
            submissionInput.ShortText[i] = new RequiredShortText();
        }
        for(int i = 0; i < submissionInput.LongText.Length; i++)
        {
            submissionInput.LongText[i] = new RequiredLongText();
        }
        for(int i = 0; i < submissionInput.Radio.Length; i++)
        {
            submissionInput.Radio[i] = new RequiredRadio();
        }
        for(int i = 0; i < submissionInput.Checkbox.Length; i++)
        {
            submissionInput.Checkbox[i] = new RequiredCheckbox();
        }
        for(int i = 0; i < submissionInput.Date.Length; i++)
        {
            submissionInput.Date[i] = new RequiredDate();
        }
    }
    private void Invalid()
    {
        Console.WriteLine("Invalid!");
    }
    private void SaveDate(DateTime date)
    {
        submissionInput.SelectedDate = date;
    }

    private void SaveDateDown(int questionOrderNum)
    {
        submissionInput.Date[questionOrderNum].Value = submissionInput.SelectedDate.ToShortDateString();
    }

    private void SaveCheckboxValue(bool chosenOption, int questionOrderNum, int optionOrderNum, int questionTypeOrderNum)
    {
        if(!chosenOption)
        {
            foreach (var option in optionsList.Where(option => option.QuestionOrderNum == questionOrderNum
                     && option.OptionOrderNum == optionOrderNum))
            {
                submissionInput.MultipleAnswers.Remove(option.Options.OptionName);
            }
        }
        else
        {
            foreach (var option in optionsList.Where(option => option.QuestionOrderNum == questionOrderNum
                     && option.OptionOrderNum == optionOrderNum))
            {
                submissionInput.MultipleAnswers.Add(option.Options.OptionName);
            }
        }
        string combine = "";
        foreach (var s in submissionInput.MultipleAnswers)
        {
            combine += s + ", ";
        }
        submissionInput.Checkbox[questionTypeOrderNum].Value = combine;
        Console.WriteLine("Combine: " + combine);
    }

    private void ClearMultipleAnswers()
    {
        submissionInput.MultipleAnswers.Clear();
    }

    void updateAnon(bool anon)
    {
        anonymous = anon;
    }

    private async void SubmitForm()
    {
        Console.WriteLine("HALLO");
        try
        {
            //Create a submission in the database
            submissionsInfo.UserId = currentUser.Id;
            submissionsInfo = await subinfoservice.Add(submissionsInfo);

            //Save the Id of the form and the submission with all answers
            submission.FormId = submissionInput.FormId;
            submission.SubmissionId = submissionsInfo.SubmissionId;

            //Save the answer to each question and save to database
            foreach (var question in questionsList)
            {
                submission.QuestionsQuestionId = question.QuestionId;
                submission.QuestionOrderNum = question.QuestionOrderNum;
                // Short text
                if(question.Questions.QuestionTypes.QuestionTypeId == 1)
                {
                    submission.Answer = submissionInput.ShortText[question.QuestionTypeOrderNum].Value;
                }
                else if(question.Questions.QuestionTypes.QuestionTypeId == 3)
                {
                    submission.Answer = submissionInput.LongText[question.QuestionTypeOrderNum].Value;
                }
                else if(question.Questions.QuestionTypes.QuestionTypeId == 4)
                {
                    submission.Answer = submissionInput.Radio[question.QuestionTypeOrderNum].Value;
                }
                else if(question.Questions.QuestionTypes.QuestionTypeId == 5)
                {
                    submission.Answer = submissionInput.Checkbox[question.QuestionTypeOrderNum].Value;
                }
                else if(question.Questions.QuestionTypes.QuestionTypeId == 6)
                {
                    submission.Answer = submissionInput.Date[question.QuestionTypeOrderNum].Value;
                }

                //Save answer to the question in the database
                await subservice.Add(submission);
            }
            sendMail(currentUser.Email);
            faded = "faded";
            confirmation = true;
            StateHasChanged();
        }
        catch (System.InvalidOperationException)
        {
            // Catch Exception that occur when user push twice on "senda tilkynningu" - it doesn't have any affect.
            _subFail = false;
            //bæta við í logfile?
            StateHasChanged();
        }
        catch (Exception)
        {
            _subFail = true;
        }
    }

    private void sendMail(string userEmail)
    {
        try{
            var FormId = Int16.Parse(id);
            mailservice.mailBuilder(FormId, submission.SubmissionId, userEmail, anonymous);
            StateHasChanged();
        }    
        catch(Exception)
        {
            _subFail = true;
        }
    }   
}