@page "/Notification/{id}"
@attribute [Authorize]
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@using BlazorSkraApp1.Models.InputModels
@using System
@using BlazorSkraApp1.Shared.Components
@inject IQuestionsFormAssignmentService questionservice
@inject IOptionsQuestionAssignmnentsService optionservice
@inject IOptionsService oservice
@inject ISubmissionsInfoService subinfoservice
@inject ISubmissionsService subservice
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime jsRuntime
@inject IMailService mailservice

@if (questionsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container @faded sub-container">
        <EditForm Model="@submissionInput" OnValidSubmit="SubmitForm">
            @foreach(var question in questionsList)
            {
                <div class="container">
                    <div class="card">
                        <div class="card-body form-check">
                        <h5 class="card-title">@question.Questions.QuestionName</h5>

                        @if(@question.Questions.QuestionTypes.QuestionTypeName == "Radio")
                        {
                            @foreach(var option in optionsList.Where(option => option.QuestionOrderNum == question.QuestionOrderNum))
                            {
                                <input class="form-check-input radio-check-Submit" type="radio" name="@option.Options.OptionName" value="@option.Options.OptionName" @onchange="@((eventArgs) => SaveRadioValue((string)eventArgs.Value, question.QuestionOrderNum, option.OptionOrderNum))"/>
                                <label class="radio-check-Submit" for="@option.Options.OptionName">@option.Options.OptionName</label><br>
                            }
                        }
                        else if(@question.Questions.QuestionTypes.QuestionTypeName == "TextShort")
                        {
                            <textarea placeholder="Skrifið hér..." rows="1" cols="60" @bind-value="@submissionInput.Answers[question.QuestionOrderNum]" @bind-value:event="oninput"/> <br>
                        }
                        else if(@question.Questions.QuestionTypes.QuestionTypeName == "TextLong")
                        {
                            <textarea placeholder="Skrifið hér..." rows="5" cols="100" @bind-value="@submissionInput.Answers[question.QuestionOrderNum]" @bind-value:event="oninput"/> <br>
                        }
                        else if(@question.Questions.QuestionTypes.QuestionTypeName == "Multiple")
                        {
                            @foreach(var option in optionsList.Where(option => option.QuestionOrderNum == question.QuestionOrderNum))
                            {
                                <input class="form-check-input" type="checkbox" name="@option.Options.OptionName" value="@option.Options.OptionName" @onchange="@((eventArgs) => SaveCheckboxValue((bool)eventArgs.Value, question.QuestionOrderNum, option.OptionOrderNum))"/>
                                <label for="@option.Options.OptionName"> @option.Options.OptionName</label><br>
                            }
                        }
                        else if(@question.Questions.QuestionTypes.QuestionTypeName == "Date")
                        {
                            <DatePicker DateSelected="SaveDate"></DatePicker>
                            SaveDateDown(question.QuestionOrderNum);
                        }
                        
                        else
                        {
                            <h5>Something went wrong...</h5>
                        }
                        </div>
                    </div>
                </div>
            }
        </EditForm>
        <div class="container">
            <div class="card sub-margin">
                <div class= "card-body form-check">
                    <input class="form-check-input @faded radio-check-Submit" type="checkbox" name="anonymous" bind="@anonymous" @onchange="@((eventArgs) => updateAnon((bool)eventArgs.Value))" />
                    <label for="anonymous" class="radio-check-Submit"> Vinsamlegast hakaðu við ef þú vilt senda tilkynninguna nafnlaust</label><br>
                </div>
            </div>
            <button class="@faded submit-form" @onclick="SubmitForm">Senda inn tilkynningu</button>
        </div>
    </div>
    <br><br><br>
}

@if(confirmation)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Staðfesting</h5>
                    </div>
                    <div class="modal-body">
                        <p>Tilkynningin er skráð og verður komið til skila.</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary" href="/">Aftur á upphafssíðu</a>
                    </div>
                </div>
            </div>
        </div>
    }
@code{
    //Id á tilkynningu sem á að birta
    [Parameter]
    public string id { get; set; }
    
    //Á tilkynningin að vera send inn nafnlaust eða ekki
    public bool anonymous { get; set; }

    //Listar til þess að birta tilkynningu
    List<QuestionsFormAssignments> questionsList;
    List<OptionsQuestionAssignmnents> optionsList;

    //Er user loggaður inn?
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    System.Security.Claims.ClaimsPrincipal currentUser;

    //Breytur til þess að skrifa í gagnagrunninn
    SubmissionsInfo submissionsInfo = new SubmissionsInfo();
    Submissions submission = new Submissions();

    //Til þess að fylla inn í SubmissionInputModel
    SubmissionInputModel submissionInput = new SubmissionInputModel();
    public DateTime SelectedDate;

    //Confirmation popup
    bool confirmation = false;
    //Class til þess að lækka opacity þegar það er skilað
    string faded = "";

    protected override async Task OnInitializedAsync()
    {
        submissionInput.FormId = Int16.Parse(id);
        questionsList = await questionservice.Get(submissionInput.FormId);
        optionsList = await optionservice.Get(submissionInput.FormId);
        submissionInput.Answers = new string[questionsList.Count + 1];
        submissionInput.AnswersOrderNum = new int[questionsList.Count + 1];

        for(int i = 0; i < submissionInput.Answers.Length; i++)
        {
            submissionInput.Answers[i] = "";
            submissionInput.AnswersOrderNum[i] = 0;
        }
    }
    private void SaveDate(DateTime date)
    {
        submissionInput.SelectedDate = date;
    }

    private void SaveDateDown(int questionOrderNum)
    {
        submissionInput.Answers[questionOrderNum] = submissionInput.SelectedDate.ToShortDateString();
    }

    private void SaveRadioValue(string chosenOption, int questionOrderNum, int optionOrderNum)
    {
        submissionInput.Answers[questionOrderNum] = chosenOption;
        submissionInput.AnswersOrderNum[questionOrderNum] = optionOrderNum;
    }

    private void SaveCheckboxValue(bool chosenOption, int questionOrderNum, int optionOrderNum)
    {
        if(chosenOption)
        {
            foreach(var option in optionsList.Where(option => option.QuestionOrderNum == questionOrderNum
                    && option.OptionOrderNum == optionOrderNum))
            {
                submissionInput.MultipleAnswers.Add(option.Options.OptionName);
            }
        }
        submissionInput.AnswersOrderNum[questionOrderNum] = optionOrderNum;
        string combine = "";
        foreach(var s in submissionInput.MultipleAnswers)
        {
            combine += s + ", ";
        }
        submissionInput.Answers[questionOrderNum] = combine;
    }

    void updateAnon(bool anon)
   {
       anonymous = anon;
   }

    private async void SubmitForm()
    {   
        currentUser = (await authenticationStateTask).User;
        if (anonymous == false)
        {
        submissionsInfo.UserId = currentUser.Identity.Name.ToString();
        }
        else
        {
            submissionsInfo.UserId = "Anonymous";
        }
        submissionsInfo = await subinfoservice.Add(submissionsInfo);
        // Henda út þessu userEmail þegar við erum búin að útfæra það að
        // admin setji inn email sem notification submit sendist á.
        var userEmail = currentUser.Identity.Name.ToString();

        foreach(var question in questionsList)
        {
            submission.SubmissionId = submissionsInfo.SubmissionId;
            submission.QuestionOrderNum = question.QuestionOrderNum;
            submission.Answer = submissionInput.Answers[question.QuestionOrderNum];
            submission.AnswerOrderNum = submissionInput.AnswersOrderNum[question.QuestionOrderNum];
            submission.FormId = submissionInput.FormId;
            submission.QuestionsQuestionId = question.QuestionId;
            await subservice.Add(submission);
        }
        sendMail(userEmail);
        faded = "faded";
        confirmation = true;
        StateHasChanged();
    }
    private void sendMail(string userEmail)
    {
        var FormId = Int16.Parse(id);
        mailservice.mailBuilder(FormId, submission.SubmissionId, userEmail, anonymous);
        StateHasChanged();
    }
}