@page "/Submissions/{show}"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject IAdminService adminservice
@inject ISubmissionsService submissionservice
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime jsRuntime

@if (submissionList == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    if(show == "All")
    {
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="container">
                    <h2>Innsendar tilkynningar</h2>
                    <table class="table table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nafn tilkynningar</th>
                                <th>Notandi</th>
                                <th style="width: 1%">Innsent</th>
                            </tr>
                        </thead>
                        <tbody>
                @foreach(var submission in submissionList)
                {
                    if((GetAll(submission)) == true)
                    {
                        <tr>
                            <td>@submission.Form.FormName</td>
                            <td>@submission.Submission.UserId</td>
                            <td>Dags</td>
                        </tr>
                    }
                }
                        </tbody>
                    </table>
                </div>
            </Authorized>
        </AuthorizeView>
    }
    else if(show == "Me")
    {
        <AuthorizeView>
            <div class="container">
                <h2>Innsendar tilkynningar</h2>
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nafn tilkynningar</th>
                            <th>Notandi</th>
                            <th style="width: 1%">Innsent</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(var submission in submissionList)
                    {
                        if((GetForUser(submission, @context.User.Identity.Name)) == true)
                        {
                            <tr>
                                <td>@submission.Form.FormName</td>
                                <td>@submission.Submission.UserId</td>
                                <td>Dags</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </AuthorizeView>
    }
}
@code{
    [Parameter]
    public string show {get; set;}
    List<Submissions> alreadyPosted = new List<Submissions>();
    List<Submissions> submissionList;
    protected override async Task OnInitializedAsync()
    {
        submissionList = await submissionservice.Get();
    }
    public bool GetAll(Submissions s)
    {
        
        Submissions sub = alreadyPosted.Find(id => id.SubmissionId == s.SubmissionId);

        foreach(var submission in alreadyPosted)
        {
            if(s.SubmissionId == submission.SubmissionId)
            {
                return false;
            }
        }

        alreadyPosted.Add(s);
        return true;
    }
    
    public bool GetForUser(Submissions s, string name)
    {
        if(s.Submission.UserId == name)
        {
        Submissions sub = alreadyPosted.Find(id => id.SubmissionId == s.SubmissionId);

        foreach(var submission in alreadyPosted)
        {
            if(s.SubmissionId == submission.SubmissionId)
            {
                return false;
            }
        }

        alreadyPosted.Add(s);
        return true;
        }
        else
        {
            return false;
        }
    }
}