@page "/notendalisti"
@using BlazorSkraApp1.Components
@using BlazorSkraApp1.Services
@using Microsoft.AspNetCore.Identity
@using BlazorSkraApp1.Models.InputModels
@inject IAdminService service
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> _UserManager

@* *** A table containing all users *** *@

<AuthorizeView Roles="Admin" Context="authContext">
    @if (userList == null)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Augnablik...</span>
            </div>
        </div>
    }
    else
    {
        <div class="md-form mt-0 index-search">
            <input class="form-control" type="text" placeholder="Leita.." aria-label="Search" @bind-value="@searchString" @bind-value:event="oninput" @onkeyup="@SearchOnKeyUp">
            <a class="btn search-button" @onclick="@SearchUsers"><i class="fas fa-search" title="Leita"></i> </a>
        </div>
        <div class="container">
            <button @onclick="AddNewUser" class="btn approve-btn add-category">
                <i class="far fa-plus-square"></i>Bæta við notanda
            </button>
            <table class="table table-striped table-md">
                <thead id="user-thead">
                    <tr>
                        <th class="text-uppercase">Netfang
                            <button class="btn up-down" @onclick="(() => SortUserEmails())"><i class="fas fa-sort-alpha-up"></i> </button>
                        </th>
                        <th class="text-uppercase">Hlutverk</th>
                        <th class="text-uppercase">Breyta hlutverki</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @foreach (var admin in adminUsersList)
                    {
                        if(searchString == "")
                        {
                            <tr>
                                <td>@admin.Email</td>
                                <td>
                                    @Options[1];
                                </td>
                                <td>
                                    <button @onclick="(() => SelectUser(admin))" data-toggle="modal" data-target="#removeAdminModal" class="btn cancel-btn">
                                        Óvirkja stjórnanda
                                    </button>
                                </td>
                                <td>
                                    <button @onclick="(() => SelectUser(admin))" data-toggle="modal" data-target="#confirmationModal" class="btn delete-btn">
                                        Eyða notanda
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    @foreach (var user in userList)
                    {
                        if(adminUsersList.Contains(user) && searchString == ""){}
                        else if(adminUsersList.Contains(user) && searchString != "")
                        {
                            <tr>
                                <td>@user.Email</td>
                                <td>
                                    @if(adminUsersList.Contains(user))
                                    {
                                        @Options[1];
                                    }
                                    else
                                    {
                                        @Options[0];
                                    }
                                </td>
                                <td>
                                    @if(adminUsersList.Contains(user))
                                    {
                                        <button @onclick="(() => SelectUser(user))" data-toggle="modal" data-target="#removeAdminModal" class="btn cancel-btn">
                                            Óvirkja stjórnanda
                                        </button>
                                    }
                                    else
                                    {
                                        <button @onclick="(() => SelectUser(user))" data-toggle="modal" data-target="#makeAdminModal" class="btn approve-btn">
                                            Virkja stjórnanda
                                        </button>
                                    }
                                </td>
                                <td>
                                    <button @onclick="(() => SelectUser(user))" data-toggle="modal" data-target="#confirmationModal" class="btn delete-btn">
                                        Eyða notanda
                                    </button>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@user.Email</td>
                                <td>
                                    @Options[0];
                                </td>
                                <td>
                                    <button @onclick="(() => SelectUser(user))" data-toggle="modal" data-target="#makeAdminModal" class="btn approve-btn">
                                        Virkja stjórnanda
                                    </button>
                                </td>
                                <td>
                                    <button @onclick="(() => SelectUser(user))" data-toggle="modal" data-target="#confirmationModal" class="btn delete-btn">
                                        Eyða notanda
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @* Add and remove user from admin role popup modal *@
        <UserAdminRoleToggleComponent selectedUser="selectedUser" OnMakeAdmin="MakeAdminHandler" OnRemoveAdmin="RemoveAdminHandler"></UserAdminRoleToggleComponent>

        @* Delete Category popup modal *@
        <ConfirmationModalComponent OnClick="DeleteUser">
            <CustomHeader>Eyða notanda</CustomHeader>
            <CustomBody>Ertu viss um að þú viljir eyða notandanum @(selectedUser.Email)?</CustomBody>
            <CustomButtonText>Eyða</CustomButtonText>
            <CustomCloseButtonText>Hætta við</CustomCloseButtonText>
        </ConfirmationModalComponent>
    }
    @if (showPopup)
    {
        <!-- This is the popup to create a user -->
        <EditForm Model="@userInput" OnValidSubmit="@SaveUser">
            <DataAnnotationsValidator />
            <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Búa til nýjan notanda</h3>
                            <button type="button" class="close" @onclick="ClosePopup">
                                <span aria-hidden="true">&times</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="user-email">Netfang</label>
                            <InputText class="form-control" id="user-email" type="text" placeholder="Skrifaðu hér.." @bind-Value="userInput.Email" />
                            <ValidationMessage For="@(() => userInput.Email)" /><br>
                            <label for="user-password">Lykilorð</label>
                            <InputText class="form-control" id="user-password" type="password" placeholder="Skrifaðu hér.." @bind-Value="userInput.Password" />
                            <ValidationMessage For="@(() => userInput.Password)" /><br>
                            <label for="user-role">Hlutverk</label>
                            <InputSelect class="form-control" id="user-role" @bind-Value="userInput.UserRole">
                                @foreach (var option in Options)
                                {
                                    <option value="@option">@option</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => userInput.UserRole)" />
                            <br /><br />
                            <button type="submit" class="btn approve-btn">Vista</button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    }
</AuthorizeView>

@code {
    UserInputModel userInput;
    // Options to display in the roles dropdown when editing a user
    List<string> Options = new List<string>() { "Almennur notandi", "Stjórnandi" };

    private string strError = "";
    private bool isSortedEmails = false;

    // To enable showing the Popup
    private bool showPopup = false;
    // Collection to display the users

    void ClosePopup()
    {
        // Close the Popup
        showPopup = false;
    }
    List<IdentityUser> userList;
    // Collection containing admin users
    List<IdentityUser> adminUsersList;

    // Property used to add or edit the currently selected user
    IdentityUser objUser = new IdentityUser();    

    // Property used to add or edit the currently selected user
    IdentityUser selectedUser = new IdentityUser();
    private string searchString;

    protected override async Task OnInitializedAsync()
    {
        //Get a list of admin users
        adminUsersList = await service.GetAdminUsers();
        //Get a list of users
        userList = await service.Get();
    }
    private void SelectUser(IdentityUser user)
    {
        selectedUser = user;
    }
    protected async void DeleteUser()
    {
        try
        {
            await service.Delete(selectedUser);
            userList.Remove(selectedUser);
            StateHasChanged();
        }
        catch(Exception)
        { }
    }
    protected void MakeAdminHandler(IdentityUser user)
    {
        adminUsersList.Add(user);
    }
    protected void RemoveAdminHandler(IdentityUser user)
    {
        adminUsersList.Remove(user);
    }
    private async void  SearchOnKeyUp(KeyboardEventArgs eventArgs)
    {
        await SearchUsers();
    }
    async Task SearchUsers()
    {
        //Get list of users that match the search string
        userList = await service.GetSearchList(searchString);
        StateHasChanged();
    }
    void SortUserEmails()
    {
        if(!isSortedEmails)
        {
            userList = userList.OrderBy(x => x.Email).ToList();
            isSortedEmails = true;
        }
        else
        {
            userList = userList.OrderByDescending(x => x.Email).ToList();
            isSortedEmails = false;
        }
        StateHasChanged();
    }
    void AddNewUser()
    {
        // Make new user
        userInput = new UserInputModel();
        userInput.Password = "";

        // Open the Popup
        showPopup = true;
    }
    async Task SaveUser()
    {
        try
        {
            // Insert new user
            var NewUser = new IdentityUser
            {
                UserName = userInput.Email,
                Email = userInput.Email
            };

            var CreateResult = await _UserManager.CreateAsync(NewUser, userInput.Password);
            // Handle Roles
            if (userInput.UserRole == "Stjórnandi")
            {
                // Put admin in Administrator role
                await service.AddAdminRole(NewUser);
                adminUsersList.Add(NewUser);
            }

            if (!CreateResult.Succeeded)
            {
                if (CreateResult.Errors.FirstOrDefault() != null)
                {
                    strError = CreateResult.Errors.FirstOrDefault().Description;
                }
                else
                {
                    strError = "Create error";
                }

                // Keep the popup opened
                return;
            }
            // Close the Popup
            showPopup = false;

            // Refresh Users
            userList.Add(NewUser);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }
}
