@page "/Submissions"
@using BlazorSkraApp1.Data
@using BlazorSkraApp1.Services
@inject IAdminService adminservice
@inject ISubmissionsService submissionservice
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime jsRuntime
@inject IMailService mailservice;

@if (submissionList == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Augnablik...</span>
        </div>
    </div>
}
else
{
    <AuthorizeView>
        <div class="container">
            <h2>Innsend eyðublöð</h2>
            <table class="table table-striped table-md">
                <thead id="user-thead">
                    <tr>
                        <th class="text-uppercase">Nafn eyðublaðs</th>
                        <th class="text-uppercase">Notandi</th>
                        <th class="text-uppercase">Innsent</th>
                        <th class="text-uppercase">PDF</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                @foreach(var submission in submissionList)
                {
                    if((GetForUser(submission, @context.User.Identity.Name)) == true)
                    {
                        <tr>
                            <td>@submission.Form.FormName</td>
                            <td>@submission.Submission.UserId</td>
                            <td>@submission.Submission.SubmissionDate.ToString("dd/MM/yy")</td>
                            <td><button class="btn approve-btn" @onclick="@((eventArgs) => GeneratePDFFile(submission.Form.FormId, submission.SubmissionId, submission.Submission.UserId))">Sækja</button></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </AuthorizeView>
}

@code{
    List<Submissions> alreadyPosted = new List<Submissions>();
    List<Submissions> submissionList;
    protected override async Task OnInitializedAsync()
    {
        submissionList = await submissionservice.Get();
    }
    
    public bool GetForUser(Submissions s, string name)
    {
        if(s.Submission.UserId == name)
        {
        Submissions sub = alreadyPosted.Find(id => id.SubmissionId == s.SubmissionId);

        foreach(var submission in alreadyPosted)
        {
            if(s.SubmissionId == submission.SubmissionId)
            {
                return false;
            }
        }

        alreadyPosted.Add(s);
        return true;
        }
        else
        {
            return false;
        }
    }

    public void GeneratePDFFile(int FormId, int submissionId, string userEmail)
    {
        mailservice.PDFBuilder(FormId, submissionId, userEmail, false, jsRuntime);
        alreadyPosted = new List<Submissions>();
    }
}